<!DOCTYPE html>
<html>
  <head>
    <title>Affichage de la liste</title>
  </head>
  <body>

	<div class="well">
	  <pre>{{ liste| json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
	</div>


  </body>
</html>