<!DOCTYPE html>
<html>

	  <head>
	    <title>Affichage de l'annonce</title>
	    <meta charset="UTF-8"> 

	    <script src="{{ asset('js/jquery.js') }}"></script>

	  </head>
	  <body>

		<h3>Formulaire {{ type }}</h3>

		<div class="well">
		  {{ form(form) }}
		</div>



<script type="text/javascript">

  $(document).ready(function() {

    var $container = $('div#docbundle_work_workType');

    var $addLink = $('<a href="#" id="add_work_type" class="btn btn-default">Ajouter une catégorie</a>');
    $container.append($addLink);

    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault();
      return false;
      
    });


    var index = $container.find(':input').length;

    if (index == 0) {
      addCategory($container);
    } else {
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    function addCategory($container) {

      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
          .replace(/__name__/g, index));

      addDeleteLink($prototype);

      $container.append($prototype);

      index++;
    }


    function addDeleteLink($prototype) {

      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      $prototype.append($deleteLink);

      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault();
        return false;
      });
    }
     
  });
 
</script>


	  </body>
</html>